/* navbar cha brand line no 21 */
.navbar-brand{
    font-size: 20px;

}

/* line no 31 navbar che item*/
.nav-item{
    padding: 10px;
    line-height: 0%;
}
.nav-item:hover{
    border: 1px black solid;
    border-radius: 100px;
    
}
/* line no 77 */
.flc{
    display: flex;
}
.box{
    height: 150px;
    /* padding: 20px; */
    padding-left: 60px;
    padding-top: 30px;
}
.para{
    margin-top: 10px;
    color: white;

}
.para1{
    padding-top: 30px;
    color: white;
    text-align: justify;
    padding-left: -22px;
}
/* foot */
.foot{
    height: 300px;
    width: 90%;
    color: white;
    padding-top: 40px;
    padding-left: 140px;
    margin-right: 20%;
    
}
ul li a{
    text-decoration: none;
    color: white;
    list-style-type: none;
}
li a:hover{
    color: white;
} 